Id: GameUpdateStatus
Name: Game Update Status
Author: FunkyKwak
Version: $Version
Module: GameUpdateStatus.dll
Type: GenericPlugin
Links:
    - Name: GitHub
      Url: https://github.com/FunkyKwak/playnite-get-update-status
